{% load i18n %}

<div class="info detail">
  <h4>{% trans "OVN Network Details" %}</h4>
  
  <dl class="dl-horizontal">
    <dt>{% trans "Logical Switch" %}</dt>
    <dd>{{ network.ovn_info.logical_switch|default:_("-") }}</dd>
    
    <dt>{% trans "Network Type" %}</dt>
    <dd>{{ network.ovn_info.network_type|default:_("-") }}</dd>
    
    <dt>{% trans "Port Security" %}</dt>
    <dd>{{ network.ovn_info.port_security_enabled|yesno|capfirst }}</dd>
    
    <dt>{% trans "DHCP Options" %}</dt>
    <dd>
      {% if network.ovn_info.dhcp_options %}
        <ul>
          {% for option in network.ovn_info.dhcp_options %}
            <li>{{ option.key }}: {{ option.value }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {% trans "-" %}
      {% endif %}
    </dd>
  </dl>

  {% if network.ovn_info.acls %}
  <h4>{% trans "Access Control Lists" %}</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Direction" %}</th>
        <th>{% trans "Priority" %}</th>
        <th>{% trans "Match" %}</th>
        <th>{% trans "Action" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for acl in network.ovn_info.acls %}
      <tr>
        <td>{{ acl.direction }}</td>
        <td>{{ acl.priority }}</td>
        <td>{{ acl.match }}</td>
        <td>{{ acl.action }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
